html{
    scroll-behavior: smooth;
}
.contact-section {
    background-color: #f9f9f9;
    padding: 4rem 2rem;
    text-align: center;
    color: #333;
}

.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #000;
}

.contact-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #555;
}

.contact-section form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-section input, .contact-section textarea {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.contact-section textarea {
    resize: none;
    height: 150px;
}

.contact-section button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #435b5b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section button:hover {
    background-color: #ff7a1b;
}