html{
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #435b5b;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav a{
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
.nav li{
    font-size: 1rem;
}
.nav a:hover{
    color: #ff7a1b;

}

.nav ul li a.active {
    font-weight: bold;
    color: #ff7a1b;;
  }
  

  .hamburger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Close Button */
.close-btn {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .nav {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #333;
        text-align: center;
    }

    .nav.open {
        display: block;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }
    .close-btn {
        display: block;
    }
}